/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0,0,0,0.9);
}

.container{
  width: 90%;
  margin: auto;


}

/*header .top-strip{border-top:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1);*/
/*}*/


.link:hover{ color: #ff5252 }

.MuiBadge-badge{
  background-color: #ff5252;
}

/*nav button {*/
/*  text-transform: capitalize !important;*/
/*}*/

.reviewScroll::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

.reviewScroll::-webkit-scrollbar{
  width:5px !important;
}


p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}


h1, h2, h3, h5, h6{
  font-weight: 600 }


